html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* -- Baseline Elements --*/
body{ 
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  line-height: 1.5;
}
h1{
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
p{
  font-family: georgia;
  line-height: 1.75;
}


.wrapper{
  width:100%;
  margin: 0 auto;
}
.container{
	width:100%;
	}
picture, img
{
	max-width: 100%;
}





/* -- Header -- */

.banner{
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/5847/viewport-selection-opt.jpg) no-repeat 50% 50%;
  text-transform: uppercase;
  text-align:center;
  color: #fff;
  font-size: 2rem;
  padding: 10rem 0;
}



/* ----------- Grid --------- */
/* -------------------------- */
.col-container{
  margin: 3rem 0;
}








/* -- Footer -- */
.footer{
  background: #111;
  text-align: center;
  float:left;
  width:100%;
  color: #fff;
}

@media screen and (max-width: 599px) {
.treq{ 
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	height: auto;
}
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
.treq{
	width: 46%;
	float: left;
	padding-left: 2%;
	padding-bottom: 2%;
}	
}
@media screen and (min-width: 1024px){
.treq{	
	width: 30%;
	float: left;
	padding-left: 2%;
	padding-bottom: 2%;
	
}
.wrapper{
	width: 1024px;
}
}
